version: '3.8'

services:
  dynamodb:
    image: amazon/dynamodb-local
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    command: -jar DynamoDBLocal.jar -inMemory -sharedDb

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin
    container_name: dynamodb-admin
    ports:
      - "8001:8001"
    environment:
      - DYNAMO_ENDPOINT=http://dynamodb:8000
      - AWS_REGION=us-west-2
      - AWS_ACCESS_KEY_ID=local
      - AWS_SECRET_ACCESS_KEY=local
    depends_on:
      - dynamodb

#  app:
#    build: .
#    ports:
#      - "8222:8222"
#      - "8333:8333"
#    environment:
#      - WIREMOCK_SERVER_PORT=8222
#      - KTOR_API_PORT=8333
#      - DYN_ENDPOINT=http://dynamodb:8000
#      - DYN_TABLE_NAME_TRAFFIC=proxy-traffic
#      - DYN_TABLE_NAME_SESSIONS=proxy-sessions
#      - DYN_TABLE_NAME_STUBS=proxy-stubs
#      - AWS_REGION=us-west-2
#      - AWS_ACCESS_KEY_ID=local
#      - AWS_SECRET_ACCESS_KEY=local
#      - SERVICE_MAP=test_precondition=https://zlwgub4irf.execute-api.eu-west-1.amazonaws.com
#    depends_on:
#      - dynamodb
